<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @rating.number %>
</p>

<p>
  <strong>User:</strong>
  <%= @rating.user %>
</p>
<% if admin_signed_in? %>
	<%= link_to 'Edit', edit_rating_path(@rating) %> |
<% end %> 	
<%= link_to 'Back', ratings_path %>
